In [38]:
import pandas as pd
import numpy as np
import spacy
from ipywidgets import FloatProgress
from IPython.display import display

from mercari_config import MercariConfig

# fix random seed for reproducibility
np.random.seed(7)

nlp = spacy.load('en')

In [39]:
df = pd.read_csv(filepath_or_buffer=os.path.join(MercariConfig.DATASETS_DIR, MercariConfig.TRAINING_SET_DATA_FILE), 
                    header=0, sep='\t', index_col=['train_id'])

/Users/gopora/MyStuff/Dev/python-virtual-envs/pie36-tf13/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [40]:
df.shape

(1482535, 7)

In [41]:
df.count()

name                 1482535
item_condition_id    1482535
category_name        1476208
brand_name            849853
price                1482535
shipping             1482535
item_description     1482531
dtype: int64

In [42]:
df['category_name'].fillna(value='___very_empty_category___', inplace=True)

In [43]:
assert(len(df[df.category_name.isnull()]) == 0)

In [44]:
df['brand_name'].fillna(value='___very_empty_brand___', inplace=True)

In [45]:
assert(len(df[df.brand_name.isnull()]) == 0)

In [46]:
df['item_description'].fillna(value='___very_empty_description___', inplace=True)

In [47]:
assert(len(df[df.item_description.isnull()]) == 0)

In [48]:
df = df['item_description'].head(10000)

In [49]:
corpus = pd.DataFrame(columns=['word', 'word_id', 'count'])
corpus = corpus.astype(dtype={'word': str, 'word_id': int, 'count': int})

corpus.set_index(['word'], inplace=True)

max_word_id = 0
fp = FloatProgress(min=0, max=len(df))

display(fp)

for desc in df:
    desc_doc = nlp(desc)
    
    for token in desc_doc:
        if not token.text in corpus.index:
            corpus.loc[token.text] = (max_word_id, 1)
            max_word_id += 1
        else:
            corpus.at[token.text, 'count'] += 1
    
    fp.value += 1

FloatProgress(value=0.0, max=10000.0)

In [33]:
df.count()

1482531

In [51]:
corpus.sort_values(by='count')

            word_id  count
word
burning       11966      1
muslin        15864      1
Poshy         15861      1
pic4          15859      1
Fury          15856      1
dupes         15855      1
Posie         15854      1
sleepsack     15865      1
observed      15853      1
Nightly       15850      1
Applied       15849      1
Should        15848      1
Trigger       15845      1
Plucked       15844      1
Overly        15843      1
Rejuvenate    15851      1
giraffes      15866      1
QUANTITY      15869      1
prison        15871      1
Magnolia      15891      1
denting       15889      1
Spoked        15888      1
Parts         15887      1
Mechanism     15886      1
Dancing       15885      1
1/25          15882      1
JUMPING       15880      1
LOWRIDER      15879      1
IMPALA        15878      1
CHEVROLET     15877      1
...             ...    ...
Size             98   1296
No                0   1317
are              21   1323
it               12   1400
(               194   1435
rm               62   1465
condition         8   1483
size            117   1494
you             131   1533
[                61   1567
)               142   1596
]                63   1620
on               32   1771
:               241   2000
new             196   2019
I                49   2152
of               15   2267
*               462   2312
is                5   2761
-               222   2762
with             37   2891
to              104   2932
in                6   3064
for              60   3429
a                38   3573
the              16   3636
and               9   5281
!                44   5580
,                48   9395
.                18  14607

[23934 rows x 2 columns]

In [154]:
corpus

Empty DataFrame
Columns: [word_id, count]
Index: []

In [155]:
corpus.loc['test'] = (0, 1)

In [161]:
corpus.loc['test2']

KeyError: 'the label [test2] is not in the [index]'