In [1]:
import word_2_index as w2i
from mercari_config import MercariConfig

In [2]:
word2index = w2i.load_word2index(MercariConfig.WORD_2_INDEX_4_ITEM_DESC_FILE)

In [3]:
len(word2index)

215977

In [4]:
word2index.count()

word_id        215977
entity_type    215977
count          215977
dtype: int64

In [5]:
word2index.groupby("entity_type").count()

                   word_id  count
entity_type
CARDINAL             10694  10694
DATE                  5987   5987
EVENT                 1085   1085
FAC                   1809   1809
GPE                   3560   3560
LANGUAGE                18     18
LAW                    810    810
LOC                   1314   1314
MONEY                 3158   3158
NORP                   894    894
ORDINAL                 93     93
ORG                  50062  50062
PERCENT               1046   1046
PERSON               27309  27309
PRODUCT              11563  11563
QUANTITY              6721   6721
TIME                  1279   1279
WORK_OF_ART           7096   7096
___NONE_ENTITY___    81479  81479

In [6]:
word2index[(word2index.word_cnt >= 10) & 
           (word2index.entity_type != MercariConfig.NON_ENTITY_TYPE)].sort_values('word_cnt', ascending=False)

                                                    word_id entity_type    cnt
word
2                                                     15197    CARDINAL  17804
1                                                      7980    CARDINAL  15656
3                                                     19123    CARDINAL  12329
one                                                  188733    CARDINAL  11882
4                                                     22494    CARDINAL   9363
6                                                     26235    CARDINAL   8253
100%                                                  10481     PERCENT   6940
5                                                     24447    CARDINAL   6723
iPhone                                               179939         ORG   6690
7                                                     28042    CARDINAL   6135
8                                                     29514    CARDINAL   5388
Victoria                                             151467         GPE   4585
10                                                     9811    CARDINAL   4314
One                                                  112488    CARDINAL   4099
️                                                    214895        NORP   3942
two                                                  205104    CARDINAL   3414
❤                                                    214238        DATE   3388
NWT                                                  105909         ORG   3173
9                                                     30654       MONEY   3033
12                                                    11477    CARDINAL   3012
first                                                175613     ORDINAL   1924
21                                                    17171    CARDINAL   1879
NWOT                                                 105727         ORG   1763
Two                                                  147849    CARDINAL   1697
USPS                                                 148582         ORG   1685
XS                                                   157269         ORG   1648
30                                                    20270    CARDINAL   1631
Christmas                                             55394        DATE   1611
BUNDLE                                                41190         ORG   1589
20                                                    16584    CARDINAL   1532
...                                                     ...         ...    ...
Lv                                                    96198      PERSON     10
Multifunction                                        104282         ORG     10
Cottonelle                                            59194     PRODUCT     10
November 2016                                        110727        DATE     10
MSG                                                   97752         ORG     10
a couple marks                                       160393       MONEY     10
Von d Victoria                                       152630      PERSON     10
Purple/                                              121136         ORG     10
MTV                                                   97805         ORG     10
Linear                                                93647         ORG     10
4pm CST                                               24343        TIME     10
Adidas Nike Brandy Melville American Apparel Fo...    34310         ORG     10
Dalmatians                                            61839        NORP     10
Stereo Music Support Voice Prompts Multipoint C...   138826         ORG     10
[rm] 》》Comment                                       160115         ORG     10
Heritage                                              80206         ORG     10
⚡ 1                                                  213319      PERSON     10
Alex & Ani                                            35208         ORG     10
only 0.3mm                                           188924    CARDINAL     10
Kathleen                                              87482      PERSON     10
Aussie                                                38504         ORG     10
Ohm Coil2 x RBA Coil1 x RBA Mini Base1               112200      PERSON     10
10 1                                                   9839    CARDINAL     10
Size Med                                             134715      PERSON     10
those days                                           203660        DATE     10
DHT                                                   61141         ORG     10
True Brown K                                         147354      PERSON     10
NWT Vera Bradley                                     106682         ORG     10
FIDGET SPINNER                                        69048         ORG     10
15 inch                                               13044    QUANTITY     10

[4579 rows x 3 columns]

In [7]:
word2index[(word2index.word_cnt >= 5)].sort_values('word_cnt', ascending=False)

                  word_id        entity_type     cnt
word
.                    6056  ___NONE_ENTITY___  351152
,                    2407  ___NONE_ENTITY___  219088
!                       9  ___NONE_ENTITY___  132950
and                162659  ___NONE_ENTITY___  127531
the                201932  ___NONE_ENTITY___   82170
a                  160182  ___NONE_ENTITY___   82077
for                176223  ___NONE_ENTITY___   79046
in                 180363  ___NONE_ENTITY___   71804
with               207953  ___NONE_ENTITY___   69688
to                 204040  ___NONE_ENTITY___   69539
is                 181229  ___NONE_ENTITY___   64931
*                    2394  ___NONE_ENTITY___   53586
of                 188491  ___NONE_ENTITY___   52133
I                   81817  ___NONE_ENTITY___   51279
:                   31632  ___NONE_ENTITY___   48658
-                    2417  ___NONE_ENTITY___   47700
new                187692  ___NONE_ENTITY___   46627
on                 188691  ___NONE_ENTITY___   41666
condition          169702  ___NONE_ENTITY___   36709
size               197968  ___NONE_ENTITY___   35839
you                208689  ___NONE_ENTITY___   35162
)                    2391  ___NONE_ENTITY___   34039
it                 181266  ___NONE_ENTITY___   33828
No                 110166  ___NONE_ENTITY___   31154
or                 189265  ___NONE_ENTITY___   30752
(                    2338  ___NONE_ENTITY___   30700
are                163478  ___NONE_ENTITY___   30675
[rm]                    3  ___NONE_ENTITY___   29289
Size               133782  ___NONE_ENTITY___   27431
's                   2334  ___NONE_ENTITY___   27212
...                   ...                ...     ...
ASKED               33236  ___NONE_ENTITY___       5
LEAVES              89970  ___NONE_ENTITY___       5
BOMBS               40789  ___NONE_ENTITY___       5
chypre             168637  ___NONE_ENTITY___       5
nwts               188337  ___NONE_ENTITY___       5
Wunderbrows        156753                ORG       5
4.7 inches          23165           QUANTITY       5
filmed             175466  ___NONE_ENTITY___       5
Alligator           35494  ___NONE_ENTITY___       5
coastlyfe          169098  ___NONE_ENTITY___       5
botanically        166232  ___NONE_ENTITY___       5
celeb              167984  ___NONE_ENTITY___       5
naps               187384  ___NONE_ENTITY___       5
SLEEVELESS         128152  ___NONE_ENTITY___       5
IPHONE 6S           82404              EVENT       5
Kevin               87910             PERSON       5
out-               189469  ___NONE_ENTITY___       5
Sauvage            130172             PERSON       5
ARROW               33189  ___NONE_ENTITY___       5
Mellow             100815  ___NONE_ENTITY___       5
#11                   187              MONEY       5
Stretchers         139469  ___NONE_ENTITY___       5
farmlands          175092  ___NONE_ENTITY___       5
ARRIVAL             33186  ___NONE_ENTITY___       5
SOUTHERN           128459  ___NONE_ENTITY___       5
Shear              132340                ORG       5
0.4                  7376           CARDINAL       5
x13                208361  ___NONE_ENTITY___       5
about 10 minutes   160786               TIME       5
disinfecting       172440  ___NONE_ENTITY___       5

[33868 rows x 3 columns]