In [1]:
import word_2_index as w2i
from mercari_config import MercariConfig

In [2]:
word2index = w2i.load_word2index(MercariConfig.WORD_2_INDEX_4_NAME_FILE)

In [3]:
len(word2index)

129912

In [4]:
word2index.count()

word_id        129912
entity_type    129912
count          129912
dtype: int64

In [5]:
word2index.groupby("entity_type").count()

                   word_id  count
entity_type
CARDINAL              2495   2495
DATE                  1144   1144
EVENT                  377    377
FAC                    662    662
GPE                   2026   2026
LANGUAGE                 1      1
LAW                    126    126
LOC                    429    429
MONEY                  225    225
NORP                   465    465
ORDINAL                 44     44
ORG                  43618  43618
PERCENT                 70     70
PERSON               30306  30306
PRODUCT               5799   5799
QUANTITY               636    636
TIME                   132    132
WORK_OF_ART           2622   2622
___NONE_ENTITY___    38735  38735

In [6]:
word2index[(word2index.word_cnt >= 10) & 
           (word2index.entity_type != MercariConfig.NON_ENTITY_TYPE)].sort_values('word_cnt', ascending=False)

                  word_id entity_type   cnt
word
2                    2176    CARDINAL  5070
Victoria           105144         GPE  4201
3                    3246    CARDINAL  3626
iPhone             118597         LOC  3584
VS                 103414     PRODUCT  3395
Nike                73691         ORG  2806
4                    4120    CARDINAL  2627
NWT                 69831         ORG  2519
Lularoe             59061      PERSON  1811
5                    4593    CARDINAL  1766
10                    936    CARDINAL  1332
American             9514        NORP  1275
Lululemon           60545         ORG  1133
Shirt               91941         ORG  1048
9                    6115    CARDINAL   965
12                   1268    CARDINAL   927
21                   2622    CARDINAL   885
NWOT                69603         ORG   827
Rae Dunn            84313      PERSON   806
BUNDLE              13993         ORG   794
OS                  76433         ORG   726
XS                 109835         ORG   714
6/6s                 5320    CARDINAL   650
Christmas           25845        DATE   559
Michael Kors        65832      PERSON   539
Kate                50507      PERSON   527
Funko               38494         ORG   526
Disney              31206         ORG   502
11                   1180    CARDINAL   502
Hollister           44452         ORG   489
...                   ...         ...   ...
FRĒ                 35540         ORG    10
AdvoCare             8437         ORG    10
Size L              92871         ORG    10
Demi Bra            30469      PERSON    10
Washington         107387         GPE    10
Tieks               99905      PERSON    10
Himalayan           44284        NORP    10
NWT LuLaRoe         70486         ORG    10
NWT TC              71061         ORG    10
SIM                 88726         ORG    10
Oakland Raiders     76621         ORG    10
Samsung Gear        89929         ORG    10
LORAC               53828         ORG    10
Judy                49311      PERSON    10
7th                  5901     ORDINAL    10
Lularoe XXS Irma    60468      PERSON    10
Monica              67583      PERSON    10
Leather Jacket      55351      PERSON    10
CANDLE              22216     PRODUCT    10
Chevy               25514         ORG    10
40D                  4300         ORG    10
Hookah              44897     PRODUCT    10
Philadelphia        80230         GPE    10
LulaRoe Carly       58856      PERSON    10
1993                 2062        DATE    10
1994                 2063        DATE    10
ROSHE               84111         ORG    10
365                  3811    CARDINAL    10
Nemo                72164         ORG    10
0.5                   688    CARDINAL    10

[1661 rows x 3 columns]

In [7]:
word2index[(word2index.word_word_cnt >= 2)].sort_values('word_cnt', ascending=False)

                         word_id        entity_type    cnt
word
's                           225  ___NONE_ENTITY___  10779
!                              8  ___NONE_ENTITY___  10352
size                      125139  ___NONE_ENTITY___   6741
for                       117103  ___NONE_ENTITY___   6540
-                            247  ___NONE_ENTITY___   6321
and                       112223  ___NONE_ENTITY___   6206
Bundle                     21412  ___NONE_ENTITY___   5208
2                           2176           CARDINAL   5070
PINK                       78143  ___NONE_ENTITY___   5059
)                            241  ___NONE_ENTITY___   4885
(                            227  ___NONE_ENTITY___   4546
New                        72330  ___NONE_ENTITY___   4255
Victoria                  105144                GPE   4201
bundle                    113776  ___NONE_ENTITY___   4115
.                            463  ___NONE_ENTITY___   3966
*                            243  ___NONE_ENTITY___   3788
shirt                     124945  ___NONE_ENTITY___   3656
3                           3246           CARDINAL   3626
iPhone                    118597                LOC   3584
,                            246  ___NONE_ENTITY___   3509
VS                        103414            PRODUCT   3395
/                            509  ___NONE_ENTITY___   3388
dress                     116001  ___NONE_ENTITY___   3379
leggings                  119916  ___NONE_ENTITY___   3354
Pink                       80580  ___NONE_ENTITY___   3297
top                       127109  ___NONE_ENTITY___   3269
of                        121924  ___NONE_ENTITY___   3141
Secret                     90796  ___NONE_ENTITY___   3126
Size                       92816  ___NONE_ENTITY___   3003
6                           5031  ___NONE_ENTITY___   2919
...                          ...                ...    ...
Visions                   106442  ___NONE_ENTITY___      2
STREAM                     89301  ___NONE_ENTITY___      2
Gelish Polish              39886               NORP      2
Harley Davidson Women's    43345                ORG      2
Daniel Mejia               29916             PERSON      2
Daniel Tiger               29917             PERSON      2
Daniel Wellington Watch    29920                ORG      2
Gel Eyeliner               39874             PERSON      2
Virgil                    106405  ___NONE_ENTITY___      2
Kendra Scott neon          51390             PERSON      2
STYLING                    89341  ___NONE_ENTITY___      2
Dailies                    29778  ___NONE_ENTITY___      2
Dad Cap                    29757             PERSON      2
Daisy Marc Jacobs          29808             PERSON      2
Gentleman                  39957  ___NONE_ENTITY___      2
Solar Power Bank           93898                ORG      2
LuLaRoe Amelia 2XL         57849             PERSON      2
Kendra Scott Tigers        51361             PERSON      2
Dacom Bluetooth            29755             PERSON      2
Tarte Highlighter          98521             PERSON      2
George Orwell              39997             PERSON      2
Judith Ripka Earrings      49309             PERSON      2
Daddys                     29768  ___NONE_ENTITY___      2
Tarte Lip                  98536                ORG      2
Tarte Lip Paint            98540                ORG      2
IZOD                       45817  ___NONE_ENTITY___      2
Stu                        95868             PERSON      2
IZ BYER                    45815             PERSON      2
SU                         89344                ORG      2
Xoxo                      110305  ___NONE_ENTITY___      2

[30702 rows x 3 columns]